NEXT_PUBLIC_APP_URL=http://localhost:3000
BASE_RPC_URL=https://mainnet.base.org
ETH_RPC_URL=https://eth.llamarpc.com
BASESCAN_API_KEY= # Your Etherscan API Key (Works for Base via API V2)
BLOCKSCOUT_API_KEY=

